.formElementos {
	justify-content: center;
	margin: 0 auto;
	display: flex;
}

.formElementos label, #formPesquisa label {
	color: #245b3b;
	font-weight: bold;
}


.formElementos input, #formPesquisa input {
	border: 1px solid #9ac5a8;
}

#formCreate button {
	margin: 0 auto;
	display: block;
	background-color: #6b8e23;
	border: 1px solid #6b8e23;
}

#formCreate button:hover {
	margin: 0 auto;
	display: block;
	background-color: #63861a;
	border: 1px solid #63861a;
}

#formPesquisa button {
	background-color: #6b8e23;
	border: 1px solid #6b8e23;
}

#formPesquisa button:hover {
	background-color: #63861a;
	border: 1px solid #63861a;
}

#formEdit button {
	background-color: #6b8e23;
	border: 1px solid #6b8e23;
}

#formEdit button:hover {
	background-color: #63861a;
	border: 1px solid #63861a;
}

#formEdit {
	margin: 0 auto;
	width: 90%;
}

body .ui-datatable thead th {
	background-color: #ddebe1;
	color: #245b3b;
	border: 1px solid #ddebe1;
}

body .ui-datatable .ui-datatable-data>tr>td {
	border-bottom: 1px solid #bcd8c4;
	color: #245b3b;
}

body .ui-button {
	background-color: #6b8e23;
	border: 1px solid #6b8e23;
}

.campoPesquisa {
	margin: 0 auto;
	width: 30%;
}

.campoPesquisa .ui-panelgrid .ui-panelgrid-cell {
	padding-right: 0px;
	padding-left: 0px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0px;
	margin-left: 0px;
}


.principal {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.caixa-secundaria {
	width: 390px;
	padding: 10px;
}

.input-style {
	width: 480px;
}
